<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>All Departments</title>
</head>

<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Employees by <span th:text="${department.getName()}"></span>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>first name</th>
                            <th>last name</th>
                            <th>age</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee,iter : ${employees}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${employee.getId()}"></td>
                            <td th:text="${employee.getFirstName()}"></td>
                            <td th:text="${employee.getLastName()}"></td>
                            <td th:text="${employee.getAge()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <a type="button" class="btn btn-primary" th:href="@{'/employees/new?departmentId=' + ${department.getId()}}">Add</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>